body {
    font-family: 'Lora', serif;
    background-image: url('https://t3.ftcdn.net/jpg/02/63/38/30/360_F_263383000_d4IhBBolO4ba7uGrWWzYJ4nffQzum2bF.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    padding-top: 80px;
    line-height: 1.6;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
}

nav ul li {
    display: inline-block;
    margin: 0 25px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s, transform 0.3s;
}

nav ul li a:hover {
    color: #d4af37;
    transform: scale(1.15);
}


ul, ol {
    list-style-type: none;
    padding: 0;
}

ul li, ol li {
    background: rgba(0, 0, 0, 0.75);
    margin: 20px 0;
    padding: 20px;
    border-left: 8px solid #d4af37;
    border-radius: 8px;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    backdrop-filter: blur(6px);
    height: 12%;
}

header {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7));
    text-align: center;
    padding: 50px 20px;
    border-bottom: 10px solid #4a2c0b;
}

.header-content h1 {
    font-family: 'Cinzel', serif;
    font-size: 4.5em;
    color: #d4af37;
    text-shadow: 4px 4px 8px #000;
    margin: 0;
}

.header-content .rune {
    font-size: 0.8em;
    color: #b8932e;
}

.header-content p {
    font-size: 1.3em;
    color: #ccc;
}

main {
    max-width: 1300px;
    margin: 50px auto;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.9);
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

section {
    margin-bottom: 70px;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

h2 {
    font-family: 'Cinzel', serif;
    color: #d4af37;
    font-size: 3em;
    border-bottom: 4px solid #4a2c0b;
    padding-bottom: 15px;
    text-shadow: 2px 2px 5px #000;
}

footer {
    text-align: center;
    padding: 20px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7));
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}
@keyframes modalFadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}

@media (max-width: 520px) {
        .map-wrap { width: 92%; }
}

/* TAMANHO DAS IMAGENS QUE SERÃO MOSTRADAS */

.baldur-inicio, .Loki-trap {
    max-width: 600px;
    display: block;
    margin: auto;
    border: 4px solid #d4af37;
}